/* ------------------------------------- */
/*Bu aralık benim projeye başlarken kullandığım default aralık*/
/*Ben css in content box özelliğindne çok alternatif olarak border-box Özelliğini seviyorum */

/*Montserrat ve Cinzel yazı tipi */
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Montserrat&display=swap');

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}
/*Yazı tipi Montserrat buradaki veriyi üstteki import ederek GOOGLE FONT APİ KULLANARAK çektim. */
body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}
/* ------------------------------------- */

/* ana dizaynda biraz margin kullanarak üst ve alttaki içeriklerin arasındaki boşluğu arttırdım*/
/*padding ile ana kısmın içini doldurdum*/
main{
    margin:2em 0;
    padding:1em 0;
}

/* BASLIĞI BURDAN ORTALADIM */
#baslik {
    text-align: center;
}

/* BURADA FORM ELEMENTLERINI ORTALAMAK ICIN KULLANDIM*/
#add, #soyadd, #listee, #siniff, #cinsiyett, #dillerr, #dosyaa, #epostaa, #sifree, #mesajj, #butonn {
    text-align: center;
    padding:0.25em 0;

}
