html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.avatar {
    object-fit: contain;
}


.slide {
    width: 40%;
    height: auto;
    margin: auto;
    margin-top: 2em;
}

.carousel-item>img {
    object-position: center center;
    object-fit: contain;
    border-radius: 1em;
}

.sehrim {
    background: linear-gradient(to right, #ffffff, #abbaab);
}

.sehrim__konu {

    margin: 20px 80px;
    text-align: center;
    padding: 3em;
    word-spacing: 1.2;
}

.sehrim__konu>h3 {
    margin-bottom: 1em;
    font-weight: 700;
}

#hava__durumu {
    text-align: center;
    margin: 2em 0;

}

#box {
    border: 2px solid rgb(73, 73, 73);
    border-radius: 8px;
    width: 40%;
    margin: auto;
    padding: 1em 0;
    background: linear-gradient(to right, #191654, #43C6AC);
    color: #f9f9f9;
    text-shadow: 1px 1px 1px black;
}

/* #dashboard {
    width: 60%;
    margin:2em;
}
*/
#timeline {
    text-align: center;
}

#miras {
    background: linear-gradient(to right, #283c86, #45a247);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1em 0;
}

.mirasimiz {
    padding: 2em 0;
    background-color: white;
}

.mirasimiz>figure {
    width: 50% !important;
    height: auto !important;
    margin: auto;
    text-align: center;
    padding-bottom: 1em;

}

/* Animasyon */
.mirasimiz>figure>img:hover {
    transform: scale(0.95);
    transition: transform 100ms ease-in;

}

@media screen and (max-width: 960px) {
    .mirasimiz>figure {
        width: 100% !important;
        padding-bottom: 1em;

    }
}

.mirasimiz>figure>img {
    object-position: center center;
    object-fit: contain;
    margin: auto;
}

.cv {
    padding: 2em 0;
    margin: 2em 4em;
    border-radius: 2px;
    border: 1px solid black;
    box-shadow: 5px 0 6px 0 hsl(0 0% 0% / 0.2);
}

.cv>header {
    border-bottom: 3px solid green;
    padding-bottom: 1em;
    margin-bottom:1em;
}

.cv>header>div>div>h1 {
    color: darkgreen;
    text-transform: uppercase;
}

.cv>header>div>div>h2 {
    color: grey;
}

.cv > section > div{
    padding-left:3em;
}

.cv > section > div > div {
    padding:20px;
}

.cv>section>h3 {
    text-transform: uppercase;
    color: darkcyan;
}

.cv > section >h4{
    color:grey;
}


@media screen and (max-width:720px) {

    .cv {
        margin: 2em;
        border-radius: 2px;
        border: 1px solid black;
        box-shadow: 5px 0 6px 0 hsl(0 0% 0% / 0.2);
    }

    .cv>main>h1 {
        font-size: 70%;
    }

    .cv>main>h2,
    h3,
    h4,
    h5,
    h6,
    p {
        font-size: 80%;
    }
}
