@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Montserrat&display=swap');


html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

#index{
    font-family: 'Montserrat', sans-serif;
}

.avatar {
    object-fit: cover;
}
.anasayfa{
    padding-top:5vh;
    margin-bottom:7vh;
}

.anasayfa__giris{
    padding:20px 40px;
    line-height: 1.7;
}
.anasayfa__giris>h1{
    font-family: 'Cinzel' ,serif;
    margin-bottom:20px;
    letter-spacing: 2px;
}
.anasayfa__giris >h3{
    margin-bottom:10px;
}

.hobi{
    margin-bottom:5vh;
}
.hobi__hakkinda{
    line-height: 1.7;
}
.hobi__hakkinda>img{
    border-radius:20px;
    
}
.hobi__image{
    display:flex;
    justify-content:center;

}
.hobi__image > img{
    border-radius:20px;
}

.slide {
    width: 50%;
    height: auto;
    margin: auto;
    margin-top: 2em;
}

.carousel-item>img {
    object-position: center center;
    object-fit: contain;
    border-radius: 1em;
}

.sehrim {
    font-family:'Montserrat',sans-serif;    
}

.sehrim__konu {

    margin: 1em 4em;
    text-align: center;
    padding: 2.5em;
    word-spacing: 1.3;

}

.sehrim__konu>h3 {
    margin-bottom: 1em;
    font-weight: 700;
    font-family: 'Cinzel' ,serif;
    letter-spacing: 5px;
    font-size:2em;
}

#hava__durumu {
    text-align: center;
    margin: 2em 0;
}

#box {
    border: 2px solid rgb(73, 73, 73);
    border-radius: 8px;
    width: 50%;
    margin: auto;
    padding: 1em 0;
    background: linear-gradient(to right, #ffd89b, #19547b);    
    color: #f8f8f8;
    text-shadow: 1px 1px 1px black;
}

/* #dashboard {
    width: 60%;
    margin:2em;
}
*/
#timeline {
    text-align: center;
}

#miras {
    padding: 1em 0;
}

.mirasimiz {
    padding: 2em 0;
    font-family:'Montserrat',sans-serif;
    line-height:1.7;
}

.mirasimiz>figure {
    width: 50% !important;
    height: auto !important;
    margin: auto;
    text-align: center;
    padding-bottom: 1em;

}
figcaption{
    font-weight: 700;
    margin-top:1em;
    font-size:1.5em;
}

/* Animasyon */
.mirasimiz>figure>img:hover {
    transform: scale(1.05);
    transition: transform 100ms ease-in;

}

@media screen and (max-width: 960px) {
    .mirasimiz>figure {
        width: 100% !important;
        padding-bottom: 1em;

    }
}

.mirasimiz>figure>img {
    object-position: center center;
    object-fit: contain;
    margin: auto;
}

.cv {
    padding: 2em 0;
    margin: 2em 4em;
    border-radius: 2px;
    border: 1px solid black;
    box-shadow: 5px 0 6px 0 hsl(0 0% 0% / 0.2);
    background-color:#f9f9f9;
    font-family:'Montserrat',sans-serif !important;
}

.cv>header {
    border-bottom: 3px solid green;
    padding-bottom: 1em;
    margin-bottom:1em;
    font-family:'Cinzel',serif;
}

.cv>header>div>div>h1 {
    color: darkgreen;
    text-transform: uppercase;
}

.cv>header>div>div>h2 {
    color: grey;
}

.cv > section > div{
    padding-left:3em;
}

.cv > section > div > div {
    padding:20px;
}

.cv>section>h3 {
    text-transform: uppercase;
    color: darkcyan;
}

.cv > section >h4{
    color:grey;
}


@media screen and (max-width:720px) {

    .cv {
        margin: 2em;
        border-radius: 2px;
        border: 1px solid black;
        box-shadow: 5px 0 6px 0 hsl(0 0% 0% / 0.2);
    }

    .cv>main>h1 {
        font-size: 70%;
    }

    .cv>main>h2,
    h3,
    h4,
    h5,
    h6,
    p {
        font-size: 80%;
    }
}

footer{
    padding:2vh 0;
    font-weight: 600;
}